div.chartPlaceholder {
    background: #eee;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border: 1px solid #84919a;
    border-radius: 4px;
}
p.positionChartMiddle {
    text-align: center;
}
div.customTooltip {
    width: 200px;
    margin: 0;
    line-height: 24px;
    border: 1px solid #5A5A5A;
    background-color: #303030;
    padding: 10px;
}
div.customTooltip p {
    margin: 0;
}
div.customTooltip p.inlineText {
    display: inline;
}
div.customTooltip div {
    margin-right: 10px;
}
div.customTooltip div.inlineBlock {
     display: inline-block;
}
