div.chartPlaceholder {
    background: #eee;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border: 1px solid #84919a;
    border-radius: 4px;
}
p.positionChartMiddle {
    text-align: center;
}
div.custom-toolbar {
    width: 200px;
    margin: 0;
    line-height: 24px;
    border: 1px solid #f5f5f5;
    background-color: hsla(0, 0%, 100%, .8);
    padding: 10px;
}
